<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice Using Timeseries Data and Datetime

---

This lab covers the basics of manipulating datetime objects and using datetimes in pandas.

<h1>Lab Guide<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Practice-Using-Timeseries-Data-and-Datetime" data-toc-modified-id="Practice-Using-Timeseries-Data-and-Datetime-1">Practice Using Timeseries Data and Datetime</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#1.-Create-a-datetime-object-representing-today's-date" data-toc-modified-id="1.-Create-a-datetime-object-representing-today's-date-1.0.1">1. Create a datetime object representing today's date</a></span></li><li><span><a href="#2.-Write-a-function-to-print-the-day-of-the-week-for-a-datetime-object." data-toc-modified-id="2.-Write-a-function-to-print-the-day-of-the-week-for-a-datetime-object.-1.0.2">2. Write a function to print the day of the week for a datetime object.</a></span></li><li><span><a href="#3.-What-is-the-Gregorian-ordinal-representation-of-today's-date?-What-is-the-difference-in-days-between-the-ordinal-representation-of-today's-date-and-the-ordinal-representation-of-your-birthday?" data-toc-modified-id="3.-What-is-the-Gregorian-ordinal-representation-of-today's-date?-What-is-the-difference-in-days-between-the-ordinal-representation-of-today's-date-and-the-ordinal-representation-of-your-birthday?-1.0.3">3. What is the Gregorian ordinal representation of today's date? What is the difference in days between the ordinal representation of today's date and the ordinal representation of your birthday?</a></span></li><li><span><a href="#4.-Try-using-timedelta-to-shift-our-datetime-object-by-the-following-intervals:" data-toc-modified-id="4.-Try-using-timedelta-to-shift-our-datetime-object-by-the-following-intervals:-1.0.4">4. Try using <code>timedelta</code> to shift our datetime object by the following intervals:</a></span></li><li><span><a href="#5.-Load-the-stock-data-for-AAPL" data-toc-modified-id="5.-Load-the-stock-data-for-AAPL-1.0.5">5. Load the stock data for AAPL</a></span><ul class="toc-item"><li><span><a href="#Load-the-data" data-toc-modified-id="Load-the-data-1.0.5.1">Load the data</a></span></li><li><span><a href="#Inspect-the-columns" data-toc-modified-id="Inspect-the-columns-1.0.5.2">Inspect the columns</a></span></li><li><span><a href="#Sort-the-rows-by-Date-in-ascending-order" data-toc-modified-id="Sort-the-rows-by-Date-in-ascending-order-1.0.5.3">Sort the rows by <code>Date</code> in ascending order</a></span></li></ul></li><li><span><a href="#6.-Take-a-high-level-look-at-the-data.-Describe-it.-What-are-we-looking-at?" data-toc-modified-id="6.-Take-a-high-level-look-at-the-data.-Describe-it.-What-are-we-looking-at?-1.0.6">6. Take a high-level look at the data. Describe it. What are we looking at?</a></span><ul class="toc-item"><li><span><a href="#Plot-the-values-of-the-columns-Open,-Close,-High,-Low" data-toc-modified-id="Plot-the-values-of-the-columns-Open,-Close,-High,-Low-1.0.6.1">Plot the values of the columns <code>Open</code>, <code>Close</code>, <code>High</code>, <code>Low</code></a></span></li><li><span><a href="#Plot-the-values-in-the-column-Volume." data-toc-modified-id="Plot-the-values-in-the-column-Volume.-1.0.6.2">Plot the values in the column <code>Volume</code>.</a></span></li><li><span><a href="#Check-the-type-of-the-individual-entries-in-the-Date-column." data-toc-modified-id="Check-the-type-of-the-individual-entries-in-the-Date-column.-1.0.6.3">Check the type of the individual entries in the <code>Date</code> column.</a></span></li><li><span><a href="#Transform-the-Date-column-into-DateTime-format." data-toc-modified-id="Transform-the-Date-column-into-DateTime-format.-1.0.6.4">Transform the <code>Date</code> column into DateTime format.</a></span></li></ul></li><li><span><a href="#7.-Make-the-Date-column-the-index-of-the-DataFrame." data-toc-modified-id="7.-Make-the-Date-column-the-index-of-the-DataFrame.-1.0.7">7. Make the <code>Date</code> column the index of the DataFrame.</a></span></li><li><span><a href="#8.-Plot-the-data-again-using-panda's-now-that-you-have-a-datetime-index." data-toc-modified-id="8.-Plot-the-data-again-using-panda's-now-that-you-have-a-datetime-index.-1.0.8">8. Plot the data again using panda's now that you have a datetime index.</a></span></li><li><span><a href="#9.-Add-columns-with-useful-data-extracted-from-the-DateTime-index" data-toc-modified-id="9.-Add-columns-with-useful-data-extracted-from-the-DateTime-index-1.0.9">9. Add columns with useful data extracted from the DateTime index</a></span></li><li><span><a href="#10.-Create-a-subset-of-the-data-containing-only-2017-dates" data-toc-modified-id="10.-Create-a-subset-of-the-data-containing-only-2017-dates-1.0.10">10. Create a subset of the data containing only 2017 dates</a></span></li><li><span><a href="#11.-Subset-the-data-on-those-dates-which-are-on-a-Tuesday." data-toc-modified-id="11.-Subset-the-data-on-those-dates-which-are-on-a-Tuesday.-1.0.11">11. Subset the data on those dates which are on a Tuesday.</a></span></li><li><span><a href="#12.-Subset-the-data-on-those-dates-which-are-in-December." data-toc-modified-id="12.-Subset-the-data-on-those-dates-which-are-in-December.-1.0.12">12. Subset the data on those dates which are in December.</a></span></li><li><span><a href="#13.-Subset-the-data-on-those-dates-which-are-before-12/01/2017." data-toc-modified-id="13.-Subset-the-data-on-those-dates-which-are-before-12/01/2017.-1.0.13">13. Subset the data on those dates which are before 12/01/2017.</a></span></li><li><span><a href="#14.-Date-ranges" data-toc-modified-id="14.-Date-ranges-1.0.14">14. Date ranges</a></span></li></ul></li></ul></li></ul></div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
 
plt.style.use('fivethirtyeight')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

In [2]:
from datetime import datetime
from datetime import timedelta

### 1. Create a datetime object representing today's date

### 2. Write a function to print the day of the week for a datetime object.

### 3. What is the Gregorian ordinal representation of today's date? What is the difference in days between the ordinal representation of today's date and the ordinal representation of your birthday?

> **Hint:** `.toordinal()` will get you the ordinal representation. The aim is to calculate the number of days between your birthday and today.

### 4. Try using `timedelta` to shift our datetime object by the following intervals:
- 1 hour ahead
- 3 days ago
- 1 year, 3 days, 2 seconds ahead

### 5. Load the stock data for AAPL


- `Close`: The price of AAPL when the stock market closes (at 4:30pm ET)
- `High`: The highest price of AAPL during that trading day
- `Low`: The lowest price of AAPL during that trading day
- `Open`: The price of AAPL when the stock market opens (at 9:30am ET)
- `Volume`: How many shares of AAPL were traded that day

In [3]:
from datetime import timedelta

#### Load the data

In [4]:
df = pd.read_csv('./datasets/aapl.csv', parse_dates=['Date'])
df.head()

        Date    Open    High     Low   Close    Volume
0 2017-01-13  119.11  119.62  118.81  119.04  26111948
1 2017-01-12  118.90  119.30  118.21  119.25  27086220
2 2017-01-11  118.74  119.93  118.60  119.75  27588593
3 2017-01-10  118.77  119.38  118.30  119.11  24462051
4 2017-01-09  117.95  119.43  117.94  118.99  33561948

#### Inspect the columns

#### Sort the rows by `Date` in ascending order

### 6. Take a high-level look at the data. Describe it. What are we looking at?

#### Plot the values of the columns `Open`, `Close`, `High`, `Low`

#### Plot the values in the column `Volume`.

Why would you not plot these values together with the ones of the other variables?

#### Check the type of the individual entries in the `Date` column.

#### Transform the `Date` column into DateTime format.

### 7. Make the `Date` column the index of the DataFrame.

Making the index a datetime allows us to easily order the data by time. Doing this will result in dataframe objects indexed by DateTime - literally Time Series!

In [5]:
#.set_index()

### 8. Plot the data again using panda's now that you have a datetime index.

Which difference do you notice?

### 9. Add columns with useful data extracted from the DateTime index

Make at least three columns, one for day, month, and year.

### 10. Create a subset of the data containing only 2017 dates

### 11. Subset the data on those dates which are on a Tuesday.

### 12. Subset the data on those dates which are in December.

### 13. Subset the data on those dates which are before 12/01/2017.

### 14. Date ranges 

We can create our own date ranges using a built in function, `date_range`.
The `periods` and `freq` keyword arguments grant the user finegrained control over the resulting values. To reset the time data, use the `normalize=True` attribute.

In [6]:
# specify a start and an end date
index = pd.date_range(start='3/1/2018', end='6/1/2018', freq='D')
index[:5]

DatetimeIndex(['2018-03-01', '2018-03-02', '2018-03-03', '2018-03-04',
               '2018-03-05'],
              dtype='datetime64[ns]', freq='D')

In [7]:
# Specify a start point and how many periods after
index = pd.date_range(start='3/1/2018', periods=20)
index[:]

DatetimeIndex(['2018-03-01', '2018-03-02', '2018-03-03', '2018-03-04',
               '2018-03-05', '2018-03-06', '2018-03-07', '2018-03-08',
               '2018-03-09', '2018-03-10', '2018-03-11', '2018-03-12',
               '2018-03-13', '2018-03-14', '2018-03-15', '2018-03-16',
               '2018-03-17', '2018-03-18', '2018-03-19', '2018-03-20'],
              dtype='datetime64[ns]', freq='D')

In [8]:
# Specify an end point and how many periods before
index = pd.date_range(end='6/1/2018', periods=20)
index[:]

DatetimeIndex(['2018-05-13', '2018-05-14', '2018-05-15', '2018-05-16',
               '2018-05-17', '2018-05-18', '2018-05-19', '2018-05-20',
               '2018-05-21', '2018-05-22', '2018-05-23', '2018-05-24',
               '2018-05-25', '2018-05-26', '2018-05-27', '2018-05-28',
               '2018-05-29', '2018-05-30', '2018-05-31', '2018-06-01'],
              dtype='datetime64[ns]', freq='D')

In [9]:
series = pd.Series(range(0,20), index=index)

In [10]:
series.head()

2018-05-13    0
2018-05-14    1
2018-05-15    2
2018-05-16    3
2018-05-17    4
Freq: D, dtype: int64

In [11]:
# Frequency specifying the length of the periods the default 'D' being daily.
pd.date_range(start='1/1/2018', end='12/1/2018', freq='BM')

DatetimeIndex(['2018-01-31', '2018-02-28', '2018-03-30', '2018-04-30',
               '2018-05-31', '2018-06-29', '2018-07-31', '2018-08-31',
               '2018-09-28', '2018-10-31', '2018-11-30'],
              dtype='datetime64[ns]', freq='BM')

In [12]:
# Specify time more exactly
pd.date_range(start='3/7/2018 12:56:31', periods=6)

DatetimeIndex(['2018-03-07 12:56:31', '2018-03-08 12:56:31',
               '2018-03-09 12:56:31', '2018-03-10 12:56:31',
               '2018-03-11 12:56:31', '2018-03-12 12:56:31'],
              dtype='datetime64[ns]', freq='D')

In [13]:
# Normalize creates normal daily times and will make the default time for each day midnight.
timerange = pd.date_range(start='3/7/2012 12:56:31', periods=6, normalize=True)
print(timerange[0])
print(timerange.dayofweek)

2012-03-07 00:00:00
Int64Index([2, 3, 4, 5, 6, 0], dtype='int64')

We are also given a Period object, which can be used to represent a time interval. The Period object consists of a start time and an end time, and can be created by providing a start time and a given frequency.

In [14]:
# March 2018 was our start period, and the period frequency is months.
march_2018 = pd.Period(value='2018-03', freq='M')

print(march_2018.start_time)
print(march_2018.end_time)
print(march_2018.dayofweek)

2018-03-01 00:00:00
2018-03-31 23:59:59.999999999
5