<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Simple Linear Regression (SLR) with Sacramento Real Estate Data

_Instructor: Aymeric Flaisler_

---

In this lab you will hone your EDA skills and practice constructing simple linear regressions using a dataset on Sacramento real estate sales.  The dataset contains information on qualities of the property, location of the property, and time of sale.

### 1. Read in the Sacramento housing data set.

In [10]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats
# 

% matplotlib inline

In [11]:
sac_csv = './datasets/sacramento_real_estate_transactions.csv'

In [12]:
shd = pd.read_csv(sac_csv)

### 2. Conduct exploratory data analysis on this data set. 

**Report any notable findings here and any steps you take to clean/process data.**

> **Note:** There are many pandas add-ons out there that can be very useful. I particularly like this one: https://github.com/mouradmourafiq/pandas-summary <br>
> To install it: first you'll need to get the latest version of pandas:
`pip install 'U pandas`. <br>
> Next, in the terminal run: `pip install git+https://github.com/mouradmourafiq/pandas-summary`

Now, to use it, first import it:

`
from pandas_summary import DataFrameSummary as DFS
`

Then, load the dataframe into the `DataFrameSummary` object: 

`
dfs = DFS(shd)
`

Finally, call the analytical function from `pandas_summary`: 

`
dfs.summary()
`

In [13]:
from pandas_summary import DataFrameSummary as DFS

In [14]:
dfs = DFS(shd)

In [15]:
dfs.summary()

,street,city,zip,state,beds,baths,sq__ft,type,sale_date,price,latitude,longitude
count,NaN,NaN,985,NaN,985,985,985,NaN,NaN,985,985,985
mean,NaN,NaN,95750.7,NaN,2.91168,1.77665,1312.92,NaN,NaN,233716,38.4451,-121.193
std,NaN,NaN,85.1761,NaN,1.30793,0.895371,856.123,NaN,NaN,139089,5.10364,5.10067
min,NaN,NaN,95603,NaN,0,0,-984,NaN,NaN,-210944,-121.503,-121.552
25%,NaN,NaN,95660,NaN,2,1,950,NaN,NaN,145000,38.4827,-121.446
50%,NaN,NaN,95762,NaN,3,2,1304,NaN,NaN,213750,38.6259,-121.376
75%,NaN,NaN,95828,NaN,4,2,1718,NaN,NaN,300000,38.6956,-121.295
max,NaN,NaN,95864,NaN,8,5,5822,NaN,NaN,884790,39.0208,38.6684
counts,985,985,985,985,985,985,985,985,985,985,985,985
uniques,981,39,68,2,8,6,604,4,5,605,969,967
missing,0,0,0,0,0,0,0,0,0,0,0,0
missing_perc,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%,0%
types,categorical,categorical,numeric,bool,numeric,numeric,numeric,categorical,categorical,numeric,numeric,numeric

In [16]:
# Also run .head(), .info(), .describe() in order to double check the initial inference:

_**Fun Fact:** Zip codes sometimes have leading zeros, i.e 02215 = Boston, MA, which will often get knocked off automatically by many softwares like Python and Excel. You can imagine that this could create some issues. _

In [ ]:
# Zip code is better as a string object (categorical) so lets convert it to str:
# shd['zip'] = ...

In [ ]:
# Looks like one house has negative square feet?! What should we do about it?

In [ ]:
# A:

### 3. Our goal will be to predict price. List variables that you think qualify as predictors of price in a Simple Linear Regression model. 

**For each of these variables you believe to be valid potential predictors in an Simple Linear Regression model, generate a plot showing the relationship between the independent variable and dependent variable.**

In [ ]:
# A

When you're  all done cleaning or made a good deal a progress cleaning, it is never a bad idea to save your work.
```python
shd.to_csv('./datasets/sacramento_real_estate_transactions_Clean.csv')
```

### 4. Which variable would be the best predictor of Y in a Simple Linear Regression model? Why?

In [ ]:
# A:

### 5. Build a function that will take in two lists `Y` and `X` and returns the intercept and slope coefficients that minimize SSE. 

`Y` is the target variable and `X` is the predictor variable.

- **Test your function on price and the variable you determined was the best predictor in Problem 4.**
- **Report the slope and intercept.**

In [ ]:
# A:

### 6. Interpret the intercept. Interpret the slope.

In [ ]:
# A:

### 7. Give an example of how this model could be used for prediction and how this model could be used for inference. 

**Be sure to make it clear which example is associated with prediction and which is associated with inference.**

In [ ]:
# A:

### 8: [Bonus] Using the model you came up with in Problem 5, calculate and plot the residuals.

In [ ]:
# A: