<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Intro to Data Representation and Data Cleaning

---

## Independent Practice: Sales Data

---

1. Load the `sales.csv` data set from last week's class.
- Inspect the data types.
- Imagine you've found out that all your values in column 1 are off by one. Use `.apply()` or `.map()` to add `1` to column 1 of the data set.
- Use `.apply` to add $2\cdot {\rm column}_1 + 3\cdot {\rm column}_3$.
- Use a combination of `apply` and `.value_counts()` to count how many values of `2015_margin` are larger than 45.

In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../../../../resource-datasets/sales_data_simple/sales.csv")

In [3]:
df.head()

   volume_sold  2015_margin  2015_q1_sales  2016_q1_sales
0    18.420760    93.802281      337166.53      337804.05
1     4.776510    21.082425       22351.86       21736.63
2    16.602401    93.612494      277764.46      306942.27
3     4.296111    16.824704       16805.11        9307.75
4     8.156023    35.011457       54411.42       58939.90

### Inspect the data types.

In [4]:
df.dtypes

volume_sold      float64
2015_margin      float64
2015_q1_sales    float64
2016_q1_sales    float64
dtype: object

### Use `.apply()` or `.map()` to add `1` to column 1 of the data set.

In [5]:
df.apply(lambda x: x[1]+1).head()

volume_sold          5.776510
2015_margin         22.082425
2015_q1_sales    22352.860000
2016_q1_sales    21737.630000
dtype: float64

In [6]:
(df['2015_margin'] + 1).head()

0    94.802281
1    22.082425
2    94.612494
3    17.824704
4    36.011457
Name: 2015_margin, dtype: float64

In [7]:
df.apply(lambda x: x[1]+1,axis=1).head()

0    94.802281
1    22.082425
2    94.612494
3    17.824704
4    36.011457
dtype: float64

### Use `.apply` to add $2\cdot {\rm column}_1 + 3\cdot {\rm column}_3$.

In [8]:
df.apply(lambda x: 2*x[1]+3*x[2],axis=1).head()

0    1.011687e+06
1    6.709774e+04
2    8.334806e+05
3    5.044898e+04
4    1.633043e+05
dtype: float64

### Use a combination of `apply` and `.value_counts()` to count how many values of `2015_margin` are larger than 45.

In [7]:
df['2015_margin'].apply(lambda x: 1 if x>45 else 0).value_counts()

0    134
1     66
Name: 2015_margin, dtype: int64