<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Python review lab

Week 1 | Day 2 | Lab 1 

---

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Miscellaneous-problems" data-toc-modified-id="Miscellaneous-problems-1">Miscellaneous problems</a></span><ul class="toc-item"><li><span><a href="#1.-What-are-the-types-of-the-following-variables?" data-toc-modified-id="1.-What-are-the-types-of-the-following-variables?-1.1">1. What are the types of the following variables?</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.1.1">A:</a></span></li></ul></li><li><span><a href="#2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?" data-toc-modified-id="2.-What-is-the-difference-between-a-&quot;mutable&quot;-and-an-&quot;immutable&quot;-object?-1.2">2. What is the difference between a "mutable" and an "immutable" object?</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.2.1">A:</a></span></li></ul></li><li><span><a href="#3.-Print-the-student_names-list." data-toc-modified-id="3.-Print-the-student_names-list.-1.3">3. Print the <code>student_names</code> list.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.3.1">A:</a></span></li></ul></li><li><span><a href="#4.-Print-the-names-of-the-first-and-last-students-in-the-list." data-toc-modified-id="4.-Print-the-names-of-the-first-and-last-students-in-the-list.-1.4">4. Print the names of the first and last students in the list.</a></span></li><li><span><a href="#5.-Print-the-first-5-names-in-the-student-list." data-toc-modified-id="5.-Print-the-first-5-names-in-the-student-list.-1.5">5. Print the first 5 names in the student list.</a></span></li><li><span><a href="#6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable." data-toc-modified-id="6.-Combine-the-9th-and-10th-student-names-into-a-single-string,-separated-by-a-space,-and-assign-to-a-variable.-1.6">6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.</a></span></li><li><span><a href="#7.-Append-an-animal-to-the-list-of-animals." data-toc-modified-id="7.-Append-an-animal-to-the-list-of-animals.-1.7">7. Append an animal to the list of animals.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.7.1">A:</a></span></li></ul></li><li><span><a href="#8.-Print-the-length-of-the-animals-list." data-toc-modified-id="8.-Print-the-length-of-the-animals-list.-1.8">8. Print the length of the animals list.</a></span></li><li><span><a href="#9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list." data-toc-modified-id="9.-Show-two-different-ways-to-combine-the-animals-list-and-numbers-list.-1.9">9. Show two different ways to combine the animals list and numbers list.</a></span></li><li><span><a href="#10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place." data-toc-modified-id="10.-Remove-my-name-from-the-list-and-insert-your-own-in-the-same-place.-1.10">10. Remove my name from the list and insert your own in the same place.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.10.1">A:</a></span></li></ul></li><li><span><a href="#11.-Find-the-index-of-'a'-in-the-list." data-toc-modified-id="11.-Find-the-index-of-'a'-in-the-list.-1.11">11. Find the index of <code>'a'</code> in the list.</a></span></li><li><span><a href="#12.-Reverse-the-mix-list." data-toc-modified-id="12.-Reverse-the-mix-list.-1.12">12. Reverse the <code>mix</code> list.</a></span></li><li><span><a href="#13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable." data-toc-modified-id="13.-Remove-the-last-element-of-mix-and-assign-it-to-a-variable.-1.13">13. Remove the last element of <code>mix</code> and assign it to a variable.</a></span></li><li><span><a href="#14.-Count-the-number-of-times-0-appears-in-the-following-list." data-toc-modified-id="14.-Count-the-number-of-times-0-appears-in-the-following-list.-1.14">14. Count the number of times <code>0</code> appears in the following list.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.14.1">A:</a></span></li></ul></li><li><span><a href="#15.-Try-to-convert-elements-in-a-list-to-floats." data-toc-modified-id="15.-Try-to-convert-elements-in-a-list-to-floats.-1.15">15. Try to convert elements in a list to floats.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.15.1">A:</a></span></li></ul></li><li><span><a href="#16.-While-loops-and-strings." data-toc-modified-id="16.-While-loops-and-strings.-1.16">16. While loops and strings.</a></span><ul class="toc-item"><li><span><a href="#A:" data-toc-modified-id="A:-1.16.1">A:</a></span></li></ul></li><li><span><a href="#17.-Load-coffee-preference-data-from-file-and-print" data-toc-modified-id="17.-Load-coffee-preference-data-from-file-and-print-1.17">17. Load coffee preference data from file and print</a></span></li><li><span><a href="#18.-Iterate-through-lines-and-print-them-out" data-toc-modified-id="18.-Iterate-through-lines-and-print-them-out-1.18">18. Iterate through lines and print them out</a></span></li><li><span><a href="#19.-Print-out-just-the-lines-object-by-typing-lines-in-a-cell-and-hitting-enter." data-toc-modified-id="19.-Print-out-just-the-lines-object-by-typing-lines-in-a-cell-and-hitting-enter.-1.19">19. Print out just the lines object by typing <code>lines</code> in a cell and hitting enter.</a></span></li><li><span><a href="#20.-Remove-the-remaining-newline-'\n'-characters-with-a-for-loop." data-toc-modified-id="20.-Remove-the-remaining-newline-'\n'-characters-with-a-for-loop.-1.20">20. Remove the remaining newline <code>'\n'</code> characters with a for-loop.</a></span></li><li><span><a href="#21.-Split-the-lines-into-&quot;header&quot;-and-&quot;data&quot;-variables." data-toc-modified-id="21.-Split-the-lines-into-&quot;header&quot;-and-&quot;data&quot;-variables.-1.21">21. Split the lines into "header" and "data" variables.</a></span></li><li><span><a href="#22.-Split-the-header-and-the-data-strings-on-commas." data-toc-modified-id="22.-Split-the-header-and-the-data-strings-on-commas.-1.22">22. Split the header and the data strings on commas.</a></span></li><li><span><a href="#23.-Remove-the-&quot;Timestamp&quot;-column." data-toc-modified-id="23.-Remove-the-&quot;Timestamp&quot;-column.-1.23">23. Remove the "Timestamp" column.</a></span></li><li><span><a href="#24.-Convert-numeric-columns-to-floats-and-empty-fields-to-None." data-toc-modified-id="24.-Convert-numeric-columns-to-floats-and-empty-fields-to-None.-1.24">24. Convert numeric columns to floats and empty fields to <code>None</code>.</a></span></li><li><span><a href="#25.-Count-the-None-values-per-person-and-put-counts-in-a-dictionary." data-toc-modified-id="25.-Count-the-None-values-per-person-and-put-counts-in-a-dictionary.-1.25">25. Count the <code>None</code> values per person and put counts in a dictionary.</a></span></li><li><span><a href="#26.-Calculate-average-rating-per-coffee-brand." data-toc-modified-id="26.-Calculate-average-rating-per-coffee-brand.-1.26">26. Calculate average rating per coffee brand.</a></span></li><li><span><a href="#27.-Create-a-list-of-just-the-people's-names." data-toc-modified-id="27.-Create-a-list-of-just-the-people's-names.-1.27">27. Create a list of just the people's names.</a></span></li><li><span><a href="#28.-Picking-a-name-at-random:-odds-of-choosing-the-same-name-3-times-in-a-row." data-toc-modified-id="28.-Picking-a-name-at-random:-odds-of-choosing-the-same-name-3-times-in-a-row.-1.28">28. Picking a name at random: odds of choosing the same name 3 times in a row.</a></span></li><li><span><a href="#29.-Construct-a-while-loop-to-run-the-choosing-function-until-it-returns-True." data-toc-modified-id="29.-Construct-a-while-loop-to-run-the-choosing-function-until-it-returns-True.-1.29">29. Construct a while loop to run the choosing function until it returns True.</a></span></li></ul></li></ul></div>

## Miscellaneous problems

---

### 1. What are the types of the following variables?

In [1]:
a = 1
b = 2.6
c = [1,2,3,5,6]
d = {'Aymeric':'Flaisler', 'Christoph':'Rahmede'}
e = ('one', 'two', 'three')
f = {1:{'key':'value'}, 2:{'key2':'value2'}}
g = True
h = False
i = 'integer'

#### A:

    a: integer (or int)
    b: float
    c: list
    d: dictionary (or dict)
    e: tuple
    f: dictionary
    g: boolean (or bool)
    h: boolean
    i: string

---

### 2. What is the difference between a "mutable" and an "immutable" object? 

Answer in one sentence.

#### A:

Mutable objects can be altered, whereas immutable objects cannot be changed once created.

---

### 3. Print the `student_names` list.

In [2]:
student_names = ['s1','s2','s3','s4','s5','s6','s7','s8','s9','s10']

#### A:

In [3]:
print(student_names)

['s1', 's2', 's3', 's4', 's5', 's6', 's7', 's8', 's9', 's10']

---

### 4. Print the names of the first and last students in the list.

In [4]:
print(student_names[0])
print(student_names[-1])

s1
s10

---

### 5. Print the first 5 names in the student list.

In [5]:
print(student_names[0:5])

['s1', 's2', 's3', 's4', 's5']

---

### 6. Combine the 9th and 10th student names into a single string, separated by a space, and assign to a variable.

In [6]:
var = student_names[8] + ' ' + student_names[9]
print(var)

s9 s10

---

### 7. Append an animal to the list of animals.

In [7]:
animals = ['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle']

#### A:

In [8]:
animals.append('fox')
print(animals)

['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'fox']

---

### 8. Print the length of the animals list.

In [9]:
print(len(animals))

7

---

### 9. Show two different ways to combine the animals list and numbers list.

In [10]:
numbers = [0., 0.1, 1., 10., 100., 1000.]

In [11]:
print(animals + numbers)

['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'fox', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

In [12]:
animals.extend(numbers)
print(animals)

['duck', 'rat', 'boar', 'elefant', 'mammoth', 'gazelle', 'fox', 0.0, 0.1, 1.0, 10.0, 100.0, 1000.0]

---

### 10. Remove my name from the list and insert your own in the same place.

In [13]:
names = ['doug', 'billy', 'christoph', 'kian', 'sam']

#### A:

In [14]:
names.remove('christoph')
print(names)

['doug', 'billy', 'kian', 'sam']

In [15]:
names.insert(2, 'your name')
print(names)

['doug', 'billy', 'your name', 'kian', 'sam']

---

### 11. Find the index of `'a'` in the list.

In [16]:
mix = [['billy', 'sam'], {'key':'value'}, 12.999, 12, 'flower', 'a', (1, 2, 3)]

In [17]:
mix.index('a')

5

---

### 12. Reverse the `mix` list.

In [18]:
mix.reverse()

In [19]:
print(mix)

[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}, ['billy', 'sam']]

---

### 13. Remove the last element of `mix` and assign it to a variable.

In [20]:
var = mix.pop()

In [21]:
print(var)
print(mix)

['billy', 'sam']
[(1, 2, 3), 'a', 'flower', 12, 12.999, {'key': 'value'}]

---

### 14. Count the number of times `0` appears in the following list.

In [22]:
binary = [0,1,1,0,1,0,1,1,1,1,0,0,1,0,0,1,0,1,1,0,0,1,1,0,1,1,0,0,0,1,1,1,0,1,0,1]

#### A:

In [23]:
(len(binary)-sum(binary))

16

In [24]:
binary.count(0)

16

---

### 15. Try to convert elements in a list to floats.

Create a new list with the converted numbers. If something cannot be converted, skip it and append nothing to the new list.

> Hint: Use a try-except statement, see [here](http://www.pythonforbeginners.com/error-handling/python-try-and-except) or [here](https://www.programiz.com/python-programming/exception-handling).

In [1]:
corrupted = ['!1', '23.1', '23.4.5', '??12', '.12', '12-12', '-11.1', '0-1', '*12.1', '1000']

#### A:

In [26]:
cleaned = []
for item in corrupted:
    try:
        cleaned.append(float(item))
    except:
        pass
print(cleaned)

[23.1, 0.12, -11.1, 1000.0]

---

### 16. While loops and strings.

Iterate over the following sentence over and over again, counting the number of vowels in the sentence until you have counted 1 million vowels. Print out the number of iterations it took to reach one million.

In [27]:
sentence = "IF I PRACTICE A LOT I WILL SOON BECOME A VERY GOOD DATA SCIENTIST"

#### A:

In [28]:
iterations = 0
vowels = 0
while True:
    iterations += 1
    for char in sentence:
        if char in 'AEIOU':
            vowels += 1
    if vowels >= 1000000:
        break
print('iterations:', iterations)
print('vowels:', vowels)

iterations: 43479
vowels: 1000017

---

### 17. Load coffee preference data from file and print

The code to load in the data is provided below. 

The `with open(..., 'r') as f:` opens up a file in "read" mode (rather than "write"), and assigns this opened file to `f`. 

We can then use the `.readlines()` built-in function to split the csv file on newlines and assign it to the variable `lines`.

In [29]:
with open('../../../../../resource-datasets/coffee_preferences/dat12-coffee-preferences.csv','r') as f:
    lines = f.readlines()

---

### 18. Iterate through lines and print them out

In [30]:
for line in lines:
    print(line)

Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe

3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,

3/17/2015 18:38:09,April,4,5,5,3,,,3,,5

3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1

3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3

3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,

3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3

3/17/2015 18:39:01,Dave H,4,5,,5,,,,,

3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2

3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4

3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1

3/17/2015 18:39:23,Alex,4,5,,3,,,,,

3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,

3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3

3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5

3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2

3/17/2015 18:40:49,Markus,3,5,,3,,,4,,

3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3

3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,

3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3

3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,

---

### 19. Print out just the lines object by typing `lines` in a cell and hitting enter.

In [31]:
lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe\n',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,\n',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5\n',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1\n',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3\n',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,\n',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3\n',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,\n',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2\n',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4\n',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1\n',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,\n',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,\n',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3\n',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5\n',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2\n',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,\n',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3\n',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,\n',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3\n',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 20. Remove the remaining newline `'\n'` characters with a for-loop.

Iterate through the lines of the data and remove the unwanted newline characters.

**`.replace('\n', '')`** is a built-in string function that will take as the first argument the substring you want to replace, and as its second argument the string you want to replace it with.

In [32]:
cleaned_lines = []
for l in lines:
    cleaned_lines.append(l.replace('\n',''))
cleaned_lines

['Timestamp,Name,Starbucks,PhilzCoffee,BlueBottleCoffee,PeetsTea,CaffeTrieste,GrandCoffee,RitualCoffee,FourBarrel,WorkshopCafe',
 '3/17/2015 18:37:58,Alison,3,5,4,3,,,5,5,',
 '3/17/2015 18:38:09,April,4,5,5,3,,,3,,5',
 '3/17/2015 18:38:25,Vijay,3,5,5,5,3,2,1,1,1',
 '3/17/2015 18:38:28,Vanessa,1,5,5,2,,,3,2,3',
 '3/17/2015 18:38:46,Isabel,1,4,4,2,4,,4,4,',
 '3/17/2015 18:39:01,India,5,3,3,3,3,1,,,3',
 '3/17/2015 18:39:01,Dave H,4,5,,5,,,,,',
 '3/17/2015 18:39:05,Deepthi,3,5,,2,,,,,2',
 '3/17/2015 18:39:14,Ramesh,3,4,,3,,,,,4',
 '3/17/2015 18:39:23,Hugh Jass,1,5,5,4,5,2,5,4,1',
 '3/17/2015 18:39:23,Alex,4,5,,3,,,,,',
 '3/17/2015 18:39:30,Ajay Anand,3,4,4,3,5,,,,',
 '3/17/2015 18:39:35,David Feng,2,3,4,2,2,,5,4,3',
 '3/17/2015 18:39:42,Zach,3,4,4,3,,,,,5',
 '3/17/2015 18:40:44,Matt,3,5,4,3,2,2,4,3,2',
 '3/17/2015 18:40:49,Markus,3,5,,3,,,4,,',
 '3/17/2015 18:41:18,Otto,4,2,2,5,,,3,3,3',
 '3/17/2015 18:41:23,Alessandro,1,5,3,2,,,4,3,',
 '3/17/2015 18:41:35,Rocky,3,5,4,3,3,3,4,4,3',
 '3/17/2015 18:42:01,cheong-tseng eng,3,1,,,,,4,,']

---

### 21. Split the lines into "header" and "data" variables.

The header is the first string in the list of strings. It contains the column names of our data.

In [33]:
header = cleaned_lines[0]
data = cleaned_lines[1:]

---

### 22. Split the header and the data strings on commas.

To split a string on the comma character, use the **`.split(',')`** built-in function. 

Split the header on commas first and print it. You can see that the original string is now a list, with items that were originally separated by commas.

In [34]:
# split on commas
header = header.split(',')
print(header)

split_data = []
for d in data:
    split_data.append(d.split(','))

['Timestamp', 'Name', 'Starbucks', 'PhilzCoffee', 'BlueBottleCoffee', 'PeetsTea', 'CaffeTrieste', 'GrandCoffee', 'RitualCoffee', 'FourBarrel', 'WorkshopCafe']

In [35]:
split_data

[['3/17/2015 18:37:58', 'Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['3/17/2015 18:38:09', 'April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['3/17/2015 18:38:25', 'Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['3/17/2015 18:38:28', 'Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['3/17/2015 18:38:46', 'Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['3/17/2015 18:39:01', 'India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['3/17/2015 18:39:01', 'Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['3/17/2015 18:39:05', 'Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['3/17/2015 18:39:14', 'Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['3/17/2015 18:39:23',
  'Hugh Jass',
  '1',
  '5',
  '5',
  '4',
  '5',
  '2',
  '5',
  '4',
  '1'],
 ['3/17/2015 18:39:23', 'Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['3/17/2015 18:39:30', 'Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['3/17/2015 18:39:35',
  'David Feng',
  '2',
  '3',
  '4',
  '2',
  '2',
  '',
  '5',
  '4',
  '3'],
 ['3/17/2015 18:39:42', 'Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['3/17/2015 18:40:44', 'Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['3/17/2015 18:40:49', 'Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['3/17/2015 18:41:18', 'Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['3/17/2015 18:41:23',
  'Alessandro',
  '1',
  '5',
  '3',
  '2',
  '',
  '',
  '4',
  '3',
  ''],
 ['3/17/2015 18:41:35', 'Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['3/17/2015 18:42:01',
  'cheong-tseng eng',
  '3',
  '1',
  '',
  '',
  '',
  '',
  '4',
  '',
  '']]

---

### 23. Remove the "Timestamp" column.

We aren't interested in the Timestamp column in our data, so remove it from the header and the data list.

Removing the Timestamp from the header can be done with list functions or slicing. To remove the header column from the data, use a for-loop.

Print out the new data object with the timestamps removed.

In [36]:
# remove Timestamp:
header = header[1:]
data_nots = []
for row in split_data:
    data_nots.append(row[1:])

In [37]:
data_nots

[['Alison', '3', '5', '4', '3', '', '', '5', '5', ''],
 ['April', '4', '5', '5', '3', '', '', '3', '', '5'],
 ['Vijay', '3', '5', '5', '5', '3', '2', '1', '1', '1'],
 ['Vanessa', '1', '5', '5', '2', '', '', '3', '2', '3'],
 ['Isabel', '1', '4', '4', '2', '4', '', '4', '4', ''],
 ['India', '5', '3', '3', '3', '3', '1', '', '', '3'],
 ['Dave H', '4', '5', '', '5', '', '', '', '', ''],
 ['Deepthi', '3', '5', '', '2', '', '', '', '', '2'],
 ['Ramesh', '3', '4', '', '3', '', '', '', '', '4'],
 ['Hugh Jass', '1', '5', '5', '4', '5', '2', '5', '4', '1'],
 ['Alex', '4', '5', '', '3', '', '', '', '', ''],
 ['Ajay Anand', '3', '4', '4', '3', '5', '', '', '', ''],
 ['David Feng', '2', '3', '4', '2', '2', '', '5', '4', '3'],
 ['Zach', '3', '4', '4', '3', '', '', '', '', '5'],
 ['Matt', '3', '5', '4', '3', '2', '2', '4', '3', '2'],
 ['Markus', '3', '5', '', '3', '', '', '4', '', ''],
 ['Otto', '4', '2', '2', '5', '', '', '3', '3', '3'],
 ['Alessandro', '1', '5', '3', '2', '', '', '4', '3', ''],
 ['Rocky', '3', '5', '4', '3', '3', '3', '4', '4', '3'],
 ['cheong-tseng eng', '3', '1', '', '', '', '', '4', '', '']]

---

### 24. Convert numeric columns to floats and empty fields to `None`.

Iterate through the data and construct a new data list of lists that has the numeric ratings converted from strings to floats, and the empty fields (which are empty strings `''`) replaced with the `None` object.

Use a nested for-loop (for-loop within another for-loop) to get the job done. You will likely need to use if/else conditional statements as well.

Print out the new data object to make sure it worked.

In [38]:
data_num = []
for row in data_nots:
    new_row = []
    for i, col in enumerate(row):
        if i == 0:
            new_row.append(col)
        else:
            if col == '':
                new_row.append(None)
            else:
                new_row.append(float(col))
    data_num.append(new_row)

In [39]:
data_num

[['Alison', 3.0, 5.0, 4.0, 3.0, None, None, 5.0, 5.0, None],
 ['April', 4.0, 5.0, 5.0, 3.0, None, None, 3.0, None, 5.0],
 ['Vijay', 3.0, 5.0, 5.0, 5.0, 3.0, 2.0, 1.0, 1.0, 1.0],
 ['Vanessa', 1.0, 5.0, 5.0, 2.0, None, None, 3.0, 2.0, 3.0],
 ['Isabel', 1.0, 4.0, 4.0, 2.0, 4.0, None, 4.0, 4.0, None],
 ['India', 5.0, 3.0, 3.0, 3.0, 3.0, 1.0, None, None, 3.0],
 ['Dave H', 4.0, 5.0, None, 5.0, None, None, None, None, None],
 ['Deepthi', 3.0, 5.0, None, 2.0, None, None, None, None, 2.0],
 ['Ramesh', 3.0, 4.0, None, 3.0, None, None, None, None, 4.0],
 ['Hugh Jass', 1.0, 5.0, 5.0, 4.0, 5.0, 2.0, 5.0, 4.0, 1.0],
 ['Alex', 4.0, 5.0, None, 3.0, None, None, None, None, None],
 ['Ajay Anand', 3.0, 4.0, 4.0, 3.0, 5.0, None, None, None, None],
 ['David Feng', 2.0, 3.0, 4.0, 2.0, 2.0, None, 5.0, 4.0, 3.0],
 ['Zach', 3.0, 4.0, 4.0, 3.0, None, None, None, None, 5.0],
 ['Matt', 3.0, 5.0, 4.0, 3.0, 2.0, 2.0, 4.0, 3.0, 2.0],
 ['Markus', 3.0, 5.0, None, 3.0, None, None, 4.0, None, None],
 ['Otto', 4.0, 2.0, 2.0, 5.0, None, None, 3.0, 3.0, 3.0],
 ['Alessandro', 1.0, 5.0, 3.0, 2.0, None, None, 4.0, 3.0, None],
 ['Rocky', 3.0, 5.0, 4.0, 3.0, 3.0, 3.0, 4.0, 4.0, 3.0],
 ['cheong-tseng eng', 3.0, 1.0, None, None, None, None, 4.0, None, None]]

---

### 25. Count the `None` values per person and put counts in a dictionary.

Use a for loop to count the number of `None` values per person. Create a dictionary with the names of the people as keys, and the counts of `None` as values.

Who rated the most coffee brands? Who rated the least?

In [40]:
user_nones = {}
for row in data_num:
    nones = 0
    for cell in row:
        if cell == None:
            nones += 1
    user_nones[row[0]] = nones
    
user_nones

# Least: Alex, Dave H, cheong-tseng eng
# Most: Hugh Jass, Matt, Rocky, Vijay

{'Ajay Anand': 4,
 'Alessandro': 3,
 'Alex': 6,
 'Alison': 3,
 'April': 3,
 'Dave H': 6,
 'David Feng': 1,
 'Deepthi': 5,
 'Hugh Jass': 0,
 'India': 2,
 'Isabel': 2,
 'Markus': 5,
 'Matt': 0,
 'Otto': 2,
 'Ramesh': 5,
 'Rocky': 0,
 'Vanessa': 2,
 'Vijay': 0,
 'Zach': 4,
 'cheong-tseng eng': 6}

---

### 26. Calculate average rating per coffee brand.

**Excluding `None` values**, calculate the average rating per brand of coffee.

The final output should be a dictionary with keys as the coffee brand names, and their average rating as the values.

Remember that average can be calculated as the sum of the ratings over the number of ratings:

```python
average_rating = float(sum(ratings_list))/len(ratings_list)
```

Print your dictionary to see the average brand ratings.

In [41]:
brand_ratings = {}
for brand in header[1:]:
    brand_ratings[brand] = []

for row in data_num:
    for i, cell in enumerate(row):
        if i > 0 and not cell == None:
            brand_ratings[header[i]].append(cell)

brand_avg_ratings = {}
for brand, ratings in list(brand_ratings.items()):
    print(brand, ratings)
    brand_avg_ratings[brand] = float(sum(ratings))/len(ratings)
    
brand_avg_ratings

Starbucks [3.0, 4.0, 3.0, 1.0, 1.0, 5.0, 4.0, 3.0, 3.0, 1.0, 4.0, 3.0, 2.0, 3.0, 3.0, 3.0, 4.0, 1.0, 3.0, 3.0]
PhilzCoffee [5.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 5.0, 4.0, 5.0, 5.0, 4.0, 3.0, 4.0, 5.0, 5.0, 2.0, 5.0, 5.0, 1.0]
BlueBottleCoffee [4.0, 5.0, 5.0, 5.0, 4.0, 3.0, 5.0, 4.0, 4.0, 4.0, 4.0, 2.0, 3.0, 4.0]
PeetsTea [3.0, 3.0, 5.0, 2.0, 2.0, 3.0, 5.0, 2.0, 3.0, 4.0, 3.0, 3.0, 2.0, 3.0, 3.0, 3.0, 5.0, 2.0, 3.0]
CaffeTrieste [3.0, 4.0, 3.0, 5.0, 5.0, 2.0, 2.0, 3.0]
GrandCoffee [2.0, 1.0, 2.0, 2.0, 3.0]
RitualCoffee [5.0, 3.0, 1.0, 3.0, 4.0, 5.0, 5.0, 4.0, 4.0, 3.0, 4.0, 4.0, 4.0]
FourBarrel [5.0, 1.0, 2.0, 4.0, 4.0, 4.0, 3.0, 3.0, 3.0, 4.0]
WorkshopCafe [5.0, 1.0, 3.0, 3.0, 2.0, 4.0, 1.0, 3.0, 5.0, 2.0, 3.0, 3.0]

{'BlueBottleCoffee': 4.0,
 'CaffeTrieste': 3.375,
 'FourBarrel': 3.3,
 'GrandCoffee': 2.0,
 'PeetsTea': 3.1052631578947367,
 'PhilzCoffee': 4.25,
 'RitualCoffee': 3.769230769230769,
 'Starbucks': 2.85,
 'WorkshopCafe': 2.9166666666666665}

---

### 27. Create a list of just the people's names.

In [42]:
people = []
for row in data_num:
    people.append(row[0])
    
print(len(people))
people

20

['Alison',
 'April',
 'Vijay',
 'Vanessa',
 'Isabel',
 'India',
 'Dave H',
 'Deepthi',
 'Ramesh',
 'Hugh Jass',
 'Alex',
 'Ajay Anand',
 'David Feng',
 'Zach',
 'Matt',
 'Markus',
 'Otto',
 'Alessandro',
 'Rocky',
 'cheong-tseng eng']

---

### 28. Picking a name at random: odds of choosing the same name 3 times in a row.

Now we'll use a while-loop to "brute force" the odds of choosing the same name 3 times in a row randomly from the list of names.

Below I've imported the **`random`** package, which has the essential function for this code **`random.choice()`**.
The function takes a list as an argument, and returns one of the elements of that list at random.

In [43]:
import random
# Choose a random person from the list of people:
# random.choice(people)

Write a function to choose a person from the list randomly 3 times and check if they are all the same

Define a function that has the following properties:

1. Takes a list (your list of names) as an argument.
2. Selects a name using `random.choice(people)` three separate times.
3. Returns `True` if the name was the same all three times. Otherwise returns `False`.

In [44]:
def choose_three(sequence):
    person1 = random.choice(people)
    person2 = random.choice(people)
    person3 = random.choice(people)
    if person1 == person2 == person3:
        return True
    else:
        return False

---

### 29. Construct a while loop to run the choosing function until it returns True.

Run the function until you draw the same person 3 times using a while-loop. Keep track of how many tries it took and print out the number of tries after it runs.

In [45]:
random.seed(42)

In [46]:
tries = 0
chose_same_person = False

while not chose_same_person:
    tries += 1
    same_person = choose_three(people)
    if same_person:
        chose_same_person = True
        
tries

449

In [47]:
tries = 0
chose_same_person = False

while choose_three(people)==False:
    tries += 1
        
tries

442