<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Practice Gridsearch and Multinomial Models with SF Crime Data


---

### Multinomial logistic regression models

So far, we have been using logistic regression for binary problems where there are only two class labels. Logistic regression can be extended to dependent variables with multiple classes.

There are two ways sklearn solves multiple-class problems with logistic regression: a multinomial loss or a "one vs. rest" (OvR) process where a model is fit for each target class vs. all the other classes. 

**Multinomial vs. OvR**
- (M) 'k-1' models with 1 reference category
- (OvR) 'k*(k-1)/2' models

You will use the gridsearch in conjunction with multinomial logistic to optimize a model that predicts the category (type) of crime based on various features captured by San Francisco police departments.

**Necessary lab imports**

In [1]:
import numpy as np
import pandas as pd
import patsy

from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score, cross_val_predict
from sklearn.linear_model import LogisticRegression, LogisticRegressionCV


import seaborn as sns

import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

%matplotlib inline
%config InlineBackend.figure_format = 'retina'

### 1. Read in the data

In [56]:
crime_csv = './datasets/sf_crime_train.csv'

In [57]:
#read in the data using pandas
sf_crime = pd.read_csv(crime_csv)
sf_crime.drop('DayOfWeek',axis=1,inplace=True)
sf_crime.head()

,Dates,Category,Descript,PdDistrict,Resolution,Address,X,Y
0,5/13/15 23:53,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,5/13/15 23:53,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
2,5/13/15 23:33,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414
3,5/13/15 23:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873
4,5/13/15 23:30,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541

In [58]:
# check the shape of your dataframe
sf_crime.shape

(18000, 8)

In [59]:
#check whether there are any missing values
#do we need to fix anything here?
sf_crime.isnull().sum()

Dates         0
Category      0
Descript      0
PdDistrict    0
Resolution    0
Address       0
X             0
Y             0
dtype: int64

In [60]:
#check what your datatypes are
#do we need to fix anything here?
sf_crime.dtypes

Dates          object
Category       object
Descript       object
PdDistrict     object
Resolution     object
Address        object
X             float64
Y             float64
dtype: object

Ideally, our 'Dates' column should be a datetime object!

### 2. Create column for year, month, day, hour, time, and date from 'Dates' column.

> *`pd.to_datetime` and `Series.dt` may be helpful here!*

In [61]:
# convert the 'Dates' column to a datetime object
sf_crime['Dates'] = pd.to_datetime(sf_crime['Dates'])
sf_crime.head(2)

,Dates,Category,Descript,PdDistrict,Resolution,Address,X,Y
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599

In [62]:
# create a new column for 'Year','Month',and 'Day_of_Week'
sf_crime['Year'] = sf_crime['Dates'].dt.year
sf_crime['Month'] = sf_crime['Dates'].dt.month
sf_crime['Day_of_Week'] = sf_crime['Dates'].dt.weekday_name
#check the first couple rows to make sure it's what you want
sf_crime.head(2)

,Dates,Category,Descript,PdDistrict,Resolution,Address,X,Y,Year,Month,Day_of_Week
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday

In [63]:
# create a column for the 'Hour','Time', and 'Date'
sf_crime['Hour'] = sf_crime['Dates'].dt.hour
sf_crime['Time'] = sf_crime['Dates'].dt.time
sf_crime['Date'] = sf_crime['Dates'].dt.date
sf_crime.head(2)

,Dates,Category,Descript,PdDistrict,Resolution,Address,X,Y,Year,Month,Day_of_Week,Hour,Time,Date
0,2015-05-13 23:53:00,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13
1,2015-05-13 23:53:00,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13

In [64]:
# Drop the 'Dates' column
sf_crime.drop(['Dates'],axis=1,inplace=True)
sf_crime.head(2)

,Category,Descript,PdDistrict,Resolution,Address,X,Y,Year,Month,Day_of_Week,Hour,Time,Date
0,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13
1,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13

### 3. Validate and clean the data.

In [65]:
# check the 'Category' value counts to see what sort of categories there are
# and to see if anything might require cleaning (particularly the ones with fewer values)
sf_crime['Category'].value_counts()

LARCENY/THEFT                  4885
OTHER OFFENSES                 2291
NON-CRIMINAL                   2255
ASSAULT                        1536
VEHICLE THEFT                   967
VANDALISM                       877
BURGLARY                        732
WARRANTS                        728
SUSPICIOUS OCC                  592
MISSING PERSON                  535
DRUG/NARCOTIC                   496
ROBBERY                         465
FRAUD                           363
SECONDARY CODES                 261
WEAPON LAWS                     212
TRESPASS                        130
STOLEN PROPERTY                 111
SEX OFFENSES FORCIBLE           103
FORGERY/COUNTERFEITING           85
DRUNKENNESS                      74
KIDNAPPING                       50
PROSTITUTION                     44
DRIVING UNDER THE INFLUENCE      42
DISORDERLY CONDUCT               37
ARSON                            35
LIQUOR LAWS                      25
RUNAWAY                          16
BRIBERY                          11
EMBEZZLEMENT                     11
SUICIDE                           5
FAMILY OFFENSES                   5
EXTORTION                         4
GAMBLING                          4
LOITERING                         4
SEX OFFENSES NON FORCIBLE         4
ASSUALT                           2
BAD CHECKS                        2
TRESPASSING                       1
Name: Category, dtype: int64

In [53]:
# What's going on with 'TRESPASS' and 'TRESPASSING'?
# What's going on with 'ASSAULT' and 'ASSUALT'?
# fix these with .loc
sf_crime.loc[sf_crime['Category']=='ASSUALT','Category']='ASSAULT'

In [54]:
sf_crime.loc[sf_crime['Category']=='TRESPASSING','Category']='TRESPASS'

In [55]:
# have a look to see whether you have all the days of the week in your data
sf_crime['Day_of_Week'].value_counts()

Wednesday    2930
Friday       2733
Saturday     2556
Thursday     2479
Sunday       2456
Monday       2447
Tuesday      2399
Name: Day_of_Week, dtype: int64

In [66]:
# have a look at the value counts for 'Descript', 'PdDistrict', and 'Resolution' to make sure it all checks out
sf_crime['Descript'].value_counts()

GRAND THEFT FROM LOCKED AUTO                          2127
STOLEN AUTOMOBILE                                      625
AIDED CASE, MENTAL DISTURBED                           591
DRIVERS LICENSE, SUSPENDED OR REVOKED                  589
BATTERY                                                520
PETTY THEFT FROM LOCKED AUTO                           498
PETTY THEFT OF PROPERTY                                484
LOST PROPERTY                                          468
WARRANT ARREST                                         429
MALICIOUS MISCHIEF, VANDALISM                          361
FOUND PROPERTY                                         353
MALICIOUS MISCHIEF, VANDALISM OF VEHICLES              340
GRAND THEFT FROM UNLOCKED AUTO                         321
SUSPICIOUS OCCURRENCE                                  305
INVESTIGATIVE DETENTION                                246
FOUND PERSON                                           233
PETTY THEFT FROM A BUILDING                            223
PETTY THEFT SHOPLIFTING                                216
THREATS AGAINST LIFE                                   209
GRAND THEFT OF PROPERTY                                202
ENROUTE TO OUTSIDE JURISDICTION                        201
CREDIT CARD, THEFT BY USE OF                           200
GRAND THEFT FROM PERSON                                192
STOLEN TRUCK                                           192
TRAFFIC VIOLATION                                      180
MISSING ADULT                                          178
RESISTING ARREST                                       174
TRAFFIC VIOLATION ARREST                               172
DOMESTIC VIOLENCE                                      156
LOST/STOLEN LICENSE PLATE                              154
                                                      ...
ATTEMPTED ROBBERY CHAIN STORE WITH A KNIFE               1
ROBBERY OF A BANK WITH A KNIFE                           1
MAINTAINING PREMISE WHERE NARCOTICS ARE SOLD/USED        1
ATTEMPTED EXTORTION                                      1
LICENSE PLATE, RECOVERED                                 1
INDECENT EXPOSURE WITH PRIOR CONVICTION                  1
ATTEMPTED ROBBERY CHAIN STORE WITH BODILY FORCE          1
MINOR PURCHASING OR RECEIVING TOBACCO PRODUCT            1
ROBBERY,  ATM, OTHER WEAPON                              1
REAL ESTATE FRAUD                                        1
MINOR WITHOUT PROPER PARENTAL CARE                       1
ATTEMPTED MAYHEM WITH A DEADLY WEAPON                    1
AGGRAVATED ASSAULT ON POLICE OFFICER WITH A KNIFE        1
KIDNAPPING, JUVENILE VICTIM                              1
VEHICLE ALARM CODE GRABBING DEVICE, POSSESS OR USE       1
ATTEMPTED ROBBERY RESIDENCE WITH A KNIFE                 1
CURFEW VIOLATION                                         1
THEFT, GRAND, BY FIDUCIARY, >$400 IN 12 MONTHS           1
POSSESSION OF HALLUCINOGENIC                             1
SCHOOL, PUBLIC, TRESPASS                                 1
ROBBERY OF A RESIDENCE WITH A GUN                        1
REMAINING ON CAMPUS WITHOUT CONSENT                      1
DISTURBING THE PEACE, SWEARING                           1
EMBEZZLED VEHICLE                                        1
GRAND THEFT AUTO STRIP                                   1
ATTEMPTED ROBBERY RESIDENCE WITH BODILY FORCE            1
FIREARM, POSSESSION OF WHILE WEARING MASK                1
ROBBERY, VEHICLE FOR HIRE, ATT., W/ OTHER WEAPON         1
BURGLARY,RESIDENCE UNDER CONSTRT, ATT. FORCIBLE          1
STOLEN TRAILER                                           1
Name: Descript, Length: 510, dtype: int64

In [67]:
sf_crime['PdDistrict'].value_counts()

SOUTHERN      3287
NORTHERN      2250
CENTRAL       2206
MISSION       2118
BAYVIEW       1678
INGLESIDE     1628
TARAVAL       1426
TENDERLOIN    1327
RICHMOND      1101
PARK           979
Name: PdDistrict, dtype: int64

In [68]:
sf_crime['Resolution'].value_counts()

NONE                                      12862
ARREST, BOOKED                             4455
UNFOUNDED                                   367
ARREST, CITED                               100
JUVENILE BOOKED                              94
EXCEPTIONAL CLEARANCE                        58
PSYCHOPATHIC CASE                            28
LOCATED                                      25
CLEARED-CONTACT JUVENILE FOR MORE INFO       10
NOT PROSECUTED                                1
Name: Resolution, dtype: int64

In [70]:
# use .describe() to see whether the location coordinates seem appropriate
sf_crime.describe()

                  X             Y     Year         Month          Hour
count  18000.000000  18000.000000  18000.0  18000.000000  18000.000000
mean    -122.423639     37.768466   2015.0      3.489944     13.646833
std        0.026532      0.024391      0.0      0.868554      6.539040
min     -122.513642     37.708154   2015.0      2.000000      0.000000
25%     -122.434199     37.753838   2015.0      3.000000     10.000000
50%     -122.416949     37.775608   2015.0      3.000000     15.000000
75%     -122.406539     37.785390   2015.0      4.000000     19.000000
max     -122.365565     37.819923   2015.0      5.000000     23.000000

### 4. Set up a target and predictor matrix for predicting violent crime vs. non-violent crime vs. non-crimes.

**Non-Violent Crimes:**
- bad checks
- bribery
- drug/narcotic
- drunkenness
- embezzlement
- forgery/counterfeiting
- fraud
- gambling
- liquor
- loitering 
- trespass

**Non-Crimes:**
- non-criminal
- runaway
- secondary codes
- suspicious occ
- warrants

**Violent Crimes:**
- everything else



**What type of model do you need here? What is your baseline accuracy?**

In [260]:
NVC = ['BAD CHECKS','BRIBERY','DRUG/NARCOTIC','DRUNKENNESS',
     'EMBEZZLEMENT','FORGERY/COUNTERFEITING','FRAUD',
     'GAMBLING','LIQUOR','LOITERING','TRESPASS','OTHER OFFENSES']

NOT_C = ['NON-CRIMINAL','RUNAWAY','SECONDARY CODES','SUSPICIOUS OCC','WARRANTS']

#use a list comprehension to get all the categories in sf_crime['Category'].unique() that are NOT in the lists above

VC = [cat for cat in sf_crime['Category'].unique() if cat not in NVC+NOT_C]

In [293]:
#add a column called 'Type' into your dataframe that stores whether the observation was:
#Non-Violent, Violent, or Non-Crime
def typecrime(x):
    if x in NOT_C: return 'NOT_CRIMINAL'
    if x in NVC: return 'NON-VIOLENT'
    if x in VC: return 'VIOLENT_CRIME'

sf_crime['Type']=sf_crime['Category'].map(typecrime)

In [294]:
sf_crime.head()

,Category,Descript,PdDistrict,Resolution,Address,X,Y,Year,Month,Day_of_Week,Hour,Time,Date,Type
0,WARRANTS,WARRANT ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13,NOT_CRIMINAL
1,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,2015,5,Wednesday,23,23:53:00,2015-05-13,NON-VIOLENT
2,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,2015,5,Wednesday,23,23:33:00,2015-05-13,NON-VIOLENT
3,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,2015,5,Wednesday,23,23:30:00,2015-05-13,VIOLENT_CRIME
4,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,2015,5,Wednesday,23,23:30:00,2015-05-13,VIOLENT_CRIME

In [296]:
#find the baseline accuracy:
sf_crime['Type'].value_counts().max()/len(sf_crime)

0.5931666666666666

In [297]:
#create a target array with 'Type'
#create a predictor matrix with 'Day_of_Week','Month','Year','PdDistrict','Hour', and 'Resolution'
y = sf_crime['Type']
X = sf_crime[['Day_of_Week','Month','Year','PdDistrict','Hour','Resolution']]

In [298]:
#use pd.get_dummies() to dummify your categorical variables
#remember to drop a column!
X = pd.get_dummies(X,drop_first=True)

In [299]:
X.head()

,Month,Year,Hour,Day_of_Week_Monday,Day_of_Week_Saturday,Day_of_Week_Sunday,Day_of_Week_Thursday,Day_of_Week_Tuesday,Day_of_Week_Wednesday,PdDistrict_CENTRAL,PdDistrict_INGLESIDE,PdDistrict_MISSION,PdDistrict_NORTHERN,PdDistrict_PARK,PdDistrict_RICHMOND,PdDistrict_SOUTHERN,PdDistrict_TARAVAL,PdDistrict_TENDERLOIN,"Resolution_ARREST, CITED",Resolution_CLEARED-CONTACT JUVENILE FOR MORE INFO,Resolution_EXCEPTIONAL CLEARANCE,Resolution_JUVENILE BOOKED,Resolution_LOCATED,Resolution_NONE,Resolution_NOT PROSECUTED,Resolution_PSYCHOPATHIC CASE,Resolution_UNFOUNDED
0,5,2015,23,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,5,2015,23,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,5,2015,23,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,5,2015,23,0,0,0,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0
4,5,2015,23,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1,0,0,0

### 5. Create a train/test/split and standardize the predictor matrices

In [300]:
#create a 50/50 train test split; 
#stratify based on your target variable
#use a random state of 2018
X_test, X_train, y_test, y_train = train_test_split(X, y, test_size=0.5, stratify=y, random_state=2018)

In [301]:
#standardise your predictor matrices
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
ss.fit(X_train)
X_train_ss = ss.transform(X_train)
X_test_ss = ss.transform(X_test)

### 6. Create a basic Logistic Regression model and use cross_val_score to assess its performance on your training data

In [345]:
#create a default Logistic Regression model and find its mean cross-validated accuracy with your training data
#use 5 cross-validation folds
lr = LogisticRegression()
cross_val_score(lr, X_train_ss, y_train, cv=5).mean()

0.6305579490147134

In [334]:
#create a confusion matrix with cross_val_predict
predictions = cross_val_predict(lr, X_train_ss, y_train, cv=5)
confusion = confusion_matrix(y_test,predictions)
pd.DataFrame(confusion,columns=sorted(y_train.unique()),index=sorted(y_train.unique()))

               NON-VIOLENT  NOT_CRIMINAL  VIOLENT_CRIME
NON-VIOLENT            349            40           1346
NOT_CRIMINAL           422            47           1457
VIOLENT_CRIME         1028           124           4187

In [323]:
y_train.value_counts()

VIOLENT_CRIME    5338
NOT_CRIMINAL     1926
NON-VIOLENT      1736
Name: Type, dtype: int64

### 7. Find the optimal hyperparameters (optimal regularization) to predict your crime categories using GridSearchCV.

> **Note:** Gridsearching can be done with `GridSearchCV` or `LogisticRegressionCV`. They operate differently - the gridsearch object is more general and can be applied to any model. The `LogisticRegressionCV` is specific to tuning the logistic regression hyperparameters. I recommend the logistic regression one, but the downside is that lasso and ridge must be searched separately. To start with, use `GridSearchCV`.

**Reference for logistic regression regularization hyperparameters:**
- `solver`: algorithm used for optimization (relevant for multiclass)
    - Newton-cg - Handles Multinomial Loss, L2 only
    - Sag - Handles Multinomial Loss, Large Datasets, L2 Only, Works best on scaled data
    - lbfgs - Handles Multinomial Loss, L2 Only
    - liblinear - Small Datasets, no Warm Starts
- `C`: Regularization strengths (smaller values are stronger penalties)
- `penalty`: `'l1'` - Lasso, `'l2'` - Ridge

In [354]:
#create a hyperparameter dictionary for a logistic regression
crime_gs_params={'penalty':['l1','l2'],
                 'solver':['liblinear'],
                 'C':np.logspace(-3,0,50)}

In [355]:
#create a gridsearch object using LogisticRegression() and the dictionary you created above
crime_gs=GridSearchCV(LogisticRegression(),
                      crime_gs_params,
                      n_jobs=-1,cv=5)

In [356]:
#fit the gridsearch object on your training data
crime_gs.fit(X_train_ss,y_train)

GridSearchCV(cv=5, error_score='raise',
       estimator=LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False),
       fit_params=None, iid=True, n_jobs=-1,
       param_grid={'penalty': ['l1', 'l2'], 'solver': ['liblinear'], 'C': array([0.001  , 0.00115, 0.00133, 0.00153, 0.00176, 0.00202, 0.00233,
       0.00268, 0.00309, 0.00356, 0.00409, 0.00471, 0.00543, 0.00625,
       0.0072 , 0.00829, 0.00954, 0.01099, 0.01265, 0.01456, 0.01677,
       0.01931, 0.02223...18, 0.32375,
       0.37276, 0.42919, 0.49417, 0.56899, 0.65513, 0.75431, 0.86851,
       1.     ])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [357]:
#print out the best parameters
crime_gs.best_params_

{'C': 0.010985411419875584, 'penalty': 'l1', 'solver': 'liblinear'}

In [358]:
#print out the best mean cross-validated score
crime_gs.best_score_

0.6327777777777778

In [359]:
#assign your best estimator to the variable 'best_logreg'
best_logreg=crime_gs.best_estimator_

In [361]:
#score your model on your testing data
best_logreg.score(X_test_ss,y_test)

0.6336666666666667

### 8. Print out a classification report for your best_logreg model

In [363]:
#use your test data to create your classification report
predictions = best_logreg.predict(X_test_ss)
print(classification_report(y_test, predictions))

               precision    recall  f1-score   support

  NON-VIOLENT       0.45      0.60      0.52      1735
 NOT_CRIMINAL       0.64      0.07      0.12      1926
VIOLENT_CRIME       0.70      0.85      0.77      5339

  avg / total       0.64      0.63      0.58      9000

### 9. Explore LogisticRegressionCV.  

With LogisticRegressionCV, you can access the best regularization strength for predicting each class! Read the documentation and see if you can implement a model with LogisticRegressionCV.

In [15]:
# A: